* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* FIRST SECTION */

.my-section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
}

.my-logo {
  position: fixed;
  margin: 2em;
  z-index: 1;
}
.my-logo a {
  text-decoration: none;
  color: #818181;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: bold;
}
.my-logo a:hover {
  text-decoration: none;
  color: #81818180;
}

.media {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2em;
}

.media ul {
  list-style: none;
}

.media ul li {
  padding: 10px 0;
}

.media ul li a {
  color: white;
}

/* MENU BUTTON */
.button_container {
  position: fixed;
  right: 6vh;
  top: 5vh;
  height: 25px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #818181;
}

.button_container.active .middle {
  opacity: 0;
  background: #818181;
}

.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #818181;
}

.button_container span {
  background: #818181;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 2;
}

.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}

.overlay nav {
  position: relative;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: "Times New Roman", serif;
  font-weight: 400;
  text-align: center;
}

.overlay nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay nav ul li {
  display: block;
  height: calc(100% / 5);
  position: relative;
  opacity: 0;
}

.overlay nav ul li a {
  display: block;
  position: relative;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.overlay nav ul li a:hover {
  color: rgb(114, 114, 114);
}

.overlay nav ul li a:hover:after,
.overlay nav ul li a:focus:after,
.overlay nav ul li a:active:after {
  width: 100%;
}

.my-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.my-img img {
  width: 100%;
}

.my-name h1,
.my-surname h1 {
  font-size: 100px;
  font-family: "Cormorant", serif;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.5);
}

.my-name {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.my-surname {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
}

/* ABOUT, SKLLS, MODELS AND PHOTOS SECTION */

.about-section,
.skills-section,
.models-section,
.photos-section {
  padding: 120px 0;
}

.about-section h1,
.skills-section h1,
.models-project h1,
.photos-section h1,
.social-section h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
}

/* ABOUT SECTION */

.about-section h3 {
  font-family: Helvetica;
  padding: 8px 0;
  margin-bottom: 20px;
  font-style: italic;
}

.about-link {
  margin: 50px 0;
}

.about-link a {
  color: black;
  padding: 18px 36px;
  border: 1px solid black;
  font-size: 12px;
  letter-spacing: 4px;
}

.about-link a:hover {
  text-decoration: none;
  color: white;
  background: black;
}

/* SKILLS SECTION */
.skills-section {
  background: #0f0f0f;
}

.skills-section h1 {
  color: white;
  width: 100%;
  text-align: center;
}

.skill {
  margin: 1em 0;
  width: 100%;
}

.skill__type {
  color: #fff;
  font-weight: 300;
  font-size: 0.85rem;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  width: 5em;
}
.skill__outer-bar,
.skill__inner-bar {
  height: 0.75em;
}
.skill__outer-bar {
  background: #333;
}
.skill__inner-bar {
  background: #fff;
  left: 5em;
}
.skill__inner-bar--70 {
  width: 70%;
}
.skill__inner-bar--60 {
  width: 60%;
}
.skill__inner-bar--50 {
  width: 50%;
}
.skill__inner-bar--40 {
  width: 40%;
}

/* MODELS SECTION */

.models-section h1 {
  text-align: center;
}

.models nav {
  font-size: 35px;
  font-family: "Cormorant";
  font-weight: 400;
  text-align: center;
}

.models nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.models nav ul li {
  display: block;
}

.models nav ul li a {
  color: black;
  text-decoration: none;
}

.models nav ul li a:hover {
  color: #81818180;
}

/* PHOTOS SECTION */

.photos-section {
  background: #0f0f0f;
  overflow: hidden;
}

.photos-section h1 {
  color: white;
}

.photos-section p {
  color: grey;
  width: 100%;
  font-weight: bold;
  font-style: italic;
}

.photos-section i {
  color: white;
  font-size: 148px;
}

.scroll-wrapper {
  height: 120vh;
}

.text-wrapper {
  display: inline-flex;
  align-items: center;
  height: 25vh;
  text-overflow: ellipsis;
  white-space: pre;
  font-size: clamp(96px, 16vh, 260px);
  padding: 0 34px;
  font-family: "Times New Roman";
}

.images-wrapper {
  display: flex;
  flex-shrink: 0;
  height: 50vh;
}

.img {
  height: 100%;
  width: auto;
  padding-right: 64px;
  object-fit: cover;
}

.img:first-child {
  padding-left: 64px;
}

/* SOCIAL SECTION */

.social-section {
  padding: 0 0;
  margin: 120px 0 100px 0;
}

.social-section h3 {
  font-family: Helvetica;
  padding: 8px 0;
  margin-bottom: 20px;
  font-style: italic;
  text-decoration: underline;
}

.social-icons {
  margin: 0 !important;
  padding: 0 !important;
}

.social-icons ul {
  margin: 80px 0 !important;
  padding: 0 !important;
}

.social-icons ul li {
  display: inline-block;
  list-style: none;
  padding-right: 40px;
}

.social-icons ul li a {
  color: black;
  font-style: italic;
  font-family: "Cormorant";
}
